[Unit]
Description=OEP ETP Stratum Service

[Service]
RestartSec=1
WorkingDirectory=/opt/oep-etp
ExecStart=/opt/oep-etp/build/bin/open-ethereum-pool stratum.json

[Install]
WantedBy=multi-user.target